---
---
.special-link,
.special-link:visited,
.special-link:hover,
.special-link:active {
color: inherit;
text-decoration: none !important;
}

.content_box {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.267);
    font-size: 12px;
    border-radius: 5%;
  }

.teaser {
padding-bottom: 50px;
width: 200px;
}

.collapsible-content {
padding: 0 18px;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
background-color: #f1f1f1;
}

.p-bibtex {
font-size: 12px;
margin-bottom: 0px;
max-width: auto;
text-align: left;
}

.paper-entry {
display: inline-block;
max-width: 100%;
}

.card-body_c{
    border-radius: 5%;
    border-color: #E4EAEC;
    margin-left: 50px;
}
.project{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.btn{
    color: #777;
}
.card-text{
    width:750px;
    margin-left: 200px;
}
.card-title{
    width:750px;
    margin-left: 200px;
}
.card-img-left{
	width: 100%;
	height: 100%;
    border-radius: 5%;
}
.card-img-left_publication{
	width: 100%;
	height: 100%;
    border-radius: 5%;
}
iframe{
    aspect-ratio: 1 / 1;
}
.custom_card{
    width: 250px;
}
.tags{
    bottom: 0;
    left: 0;
    position: relative;
}
.body {
    background: #d5e2ff;
}
.header {
    background-color: #d0ffeb;
}
.btn:hover{
    background-color: rgba(199, 199, 199, 0.356);
    color: #777;
}
.darkblue {
    background-color: rgb(1, 32, 103);
    color: white;
  }
.example-header {
    background: #3D4351;
    color: #FFF;
    font-weight: 300;
    padding: 3em 1em;
    text-align: center;
    h1 {
        color: #FFF;
        font-weight: 300;
        margin-bottom: 20px
    }
    p {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 700;
    }
}
.container-fluid {
    margin: auto;
    width: 100%;
    padding: 10px;
    .row {
        padding: 0 0 4em 0;
        width: 100%;
        &:nth-child(even) {
            background: #F1F4F5;
        }
    }
}

.example-title {
    text-align: center;
    margin-bottom: 60px;
    padding: 3em 0;
    border-bottom: 1px solid #E4EAEC;
    p {
        margin: 0 auto;
        font-size: 16px;
        max-width: 400px;
    }
}

/*==================================
    TIMELINE
==================================*/

    /*-- GENERAL STYLES
    ------------------------------*/
.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    h1, h2, h3, h4, h5, h6 {
        line-height: inherit;
    }
}

/*----- TIMELINE ITEM -----*/

.timeline-item {
    padding-left: 40px;
    position: relative;
    width: 100%;
    &:last-child {
        padding-bottom: 0;
    }
}

/*----- TIMELINE INFO -----*/

.timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    width: 100%;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
}
/*----- TIMELINE MARKER -----*/

.timeline-marker {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 15px;
    &:before {
        background: #FF6B6B;
        border: 3px solid transparent;
        border-radius: 100%;
        content: "";
        display: block;
        height: 15px;
        position: absolute;
        top: 4px; left: 0;
        width: 15px;
        transition: background 0.3s ease-in-out,
                border 0.3s ease-in-out;
    }
    &:after {
        content: "";
        width: 3px;
        background: #CCD5DB;
        display: block;
        position: absolute;
        top: 24px; bottom: 0; left: 6px;
    }
    .timeline-item:last-child &:after {
        content: none;
    }
}
.timeline-item:not(.period):hover .timeline-marker:before {
    background: #00e481;
    border: 3px solid #00e481;
}

/*----- TIMELINE CONTENT -----*/

.timeline-content {
    padding-bottom: 40px;
    width: 100%;
    p:last-child {
        margin-bottom: 0;
        width: 170%;
    }
}

/*----- TIMELINE PERIOD -----*/

.period {
    padding: 0;
    .timeline-info {
        display: none;
    }
    .timeline-marker {
        &:before {
            background: transparent;
            content: "";
            width: 15px;
            height: auto;
            border: none;
            border-radius: 0;
            top: 0;
            bottom: 30px;
            position: absolute;
            border-top: 3px solid #CCD5DB;
            border-bottom: 3px solid #CCD5DB;
        }
        &:after {
            content: "";
            height: 32px;
            top: auto;
        }
    }
    .timeline-content {
        padding: 40px 0 70px;
        width: 100%;
    }
    .timeline-title {
        margin: 0;
    }
}
/*----------------------------------------------
    MOD: MARKER OUTLINE
----------------------------------------------*/
    
    .marker-outline {
        .timeline-marker {
            &:before {
                background: transparent;
                border-color: #FF6B6B;
            }
        }
        .timeline-item:hover .timeline-marker:before {
            background: #FF6B6B;
        }
    }

/* Styling for the button container to center its contents */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Full viewport height for vertical centering */
    gap: 20px; /* Space between buttons */
}

/* Styling for the custom buttons */
.custom-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #4B0082; /* Dark purple color */
    border: none;
    border-radius: 20px;
    font-size: 16px;
    transition: background-color 0.3s;
}

/* Icon margin for spacing */
.custom-button i {
    margin-right: 10px;
}

/* Hover effect */
.custom-button:hover {
    background-color: #796885; /* Slightly lighter dark purple */
    text-decoration: none;
    color: #fff;
}
.button-62 {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    // background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 15px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
@import "portfolYOU";
